* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 5%;
    padding: 3% 0%;
    background-color: #F3F6FE;
}

.side-bar ul li  {
    margin-left: 35%;
    list-style: none;
}

.side-bar i {
    padding: 50% 0%;
}

.side-bar a {
    text-decoration: none;
}


.fa-solid {
    color: #b3b6bd;
    transition: transform .2s;
}
.fa-solid:hover {
    color: rgb(0, 132, 255) !important;
    transform: scale(1.4);
}

